{% extends "base1.html" %}
{% block title %} Contact {% endblock title %}
{% block body %}
<div class="container">
    <h3 class="text-center">CONTACT US</h3>
</div>

<form method="post" action="/contactus/" class="mx-auto p-4" style="max-width: 600px; background-color:rgb(219, 236, 224); border-radius: 8px;">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
    </div>

    <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
    </div>

    <div class="form-group">
        <label for="desc">Tell me about what you want to contact me for...</label>
        <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
    </div>

    <div class="text-center mt-4">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
{% endblock body %}